*{
	margin: 0;
	padding: 0;
	font-family: verdane;
}
#main{
	width:100%;
	height:100vh;
	background-image: url("bg.jpg");
	background-repeat:no-repeat;
	/*background-size: 80%;*/
	/*background-position:center;*/
	background-size: cover;
	background-position:top;
	/*image-rendering: -webkit-optimize-contrast;*/

}
nav{
	width: 100%;
	height: 80px;
	background-color:#0009; 
	line-height: 80px;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s;
}

nav ul li:hover{
	background-color:#f39d1a;
}
nav ul li a{
	text-decoration: none;
	color:#fff;
	padding: 20px;
}
.image{
	width: 150px;
	height: 80px;
	
	position: absolute;
	/*top: -50px;
	left: calc(50% - 50px);
	*/
	}
	.imagegrace{
		width:420px;
	height:100px;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	border:3px solid white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	}

